<div class="mt-4">
    <h3 class="mt-3">SỬA CHƯƠNG TRÌNH</h3>
    <form method="POSt" action="/acdm/store" class="mt-4">
        <div class="mb-3">
            <label for="name" class="form-label">Tên chương trình</label>
            <input type="text" class="form-control" value="{{this.name}}" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" name="description" rows="3">{{this.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="link" class="form-label">Liên kết</label>
            <input type="text" class="form-control" name="link" value="{{this.link}}">
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Hình ảnh liên quan</label>
            <input type="file" class="form-control" name="img" value="{{this.img}}">
        </div>
        <div class="mb-3">
            <label for="slug" class="form-label">URL trang chi tiết</label>
            <input type="text" class="form-control" name="slug" value="{{this.slug}}">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
</form>
</div>